psutil
gunicorn
aiohttp
python-telegram-bot[webhooks]
honcho
email-validator
psutil
platformdirs
requests
uvicorn
fastapi
pandas
openpyxl
xlrd
werkzeug
flask==2.3.3
python-telegram-bot==20.8
pandas
httpx
psycopg2-binary
gunicorn
phonenumbers
